/* G R I D */

.grid-col-1 {
    min-width: 10px;
    max-width: 10px;
}

.grid-col-2 {
    min-width: 20px;
    max-width: 20px;
}

.grid-col-3 {
    min-width: 30px;
    max-width: 30px;
}

.grid-col-4 {
    min-width: 40px;
    max-width: 40px;
}

.grid-col-5 {
    min-width: 50px;
    max-width: 50px;
}

.grid-col-6 {
    min-width: 60px;
    max-width: 60px;
}

.grid-col-7 {
    min-width: 70px;
    max-width: 70px;
}

.grid-col-8 {
    min-width: 80px;
    max-width: 80px;
}

.grid-col-9 {
    min-width: 90px;
    max-width: 90px;
}

.grid-col-10 {
    min-width: 100px;
    max-width: 100px;
}

.grid-col-11 {
    min-width: 110px;
    max-width: 110px;
}

.grid-col-12 {
    min-width: 120px;
    max-width: 120px;
}

.grid-col-13 {
    min-width: 130px;
    max-width: 130px;
}

.grid-col-14 {
    min-width: 140px;
    max-width: 140px;
}

.grid-col-15 {
    min-width: 150px;
    max-width: 150px;
}

.grid-col-16 {
    min-width: 160px;
    max-width: 160px;
}

.grid-col-17 {
    min-width: 170px;
    max-width: 170px;
}

.grid-col-18 {
    min-width: 180px;
    max-width: 180px;
}

.grid-col-19 {
    min-width: 190px;
    max-width: 190px;
}

.grid-col-20 {
    min-width: 200px;
    max-width: 200px;
}

.grid-col-21 {
    min-width: 210px;
    max-width: 210px;
}

.grid-col-22 {
    min-width: 220px;
    max-width: 220px;
}

.grid-col-23 {
    min-width: 230px;
    max-width: 230px;
}

.grid-col-24 {
    min-width: 240px;
    max-width: 240px;
}

.grid-col-25 {
    min-width: 250px;
    max-width: 250px;
}

.grid-col-26 {
    min-width: 260px;
    max-width: 260px;
}

.grid-col-27 {
    min-width: 270px;
    max-width: 270px;
}

.grid-col-28 {
    min-width: 280px;
    max-width: 280px;
}

.grid-col-29 {
    min-width: 290px;
    max-width: 290px;
}

.grid-col-30 {
    min-width: 300px;
    max-width: 300px;
}

.grid-col-31 {
    min-width: 310px;
    max-width: 310px;
}

.grid-col-32 {
    min-width: 320px;
    max-width: 320px;
}

.grid-col-33 {
    min-width: 330px;
    max-width: 330px;
}

.grid-col-34 {
    min-width: 340px;
    max-width: 340px;
}

.grid-col-35 {
    min-width: 350px;
    max-width: 350px;
}

.grid-col-36 {
    min-width: 360px;
    max-width: 360px;
}

.grid-col-37 {
    min-width: 370px;
    max-width: 370px;
}

.grid-col-38 {
    min-width: 380px;
    max-width: 380px;
}

.grid-col-39 {
    min-width: 390px;
    max-width: 390px;
}

.grid-col-40 {
    min-width: 400px;
    max-width: 400px;
}

.grid-col-41 {
    min-width: 410px;
    max-width: 410px;
}

.grid-col-42 {
    min-width: 420px;
    max-width: 420px;
}

.grid-col-43 {
    min-width: 430px;
    max-width: 430px;
}

.grid-col-44 {
    min-width: 440px;
    max-width: 440px;
}

.grid-col-45 {
    min-width: 450px;
    max-width: 450px;
}

.grid-col-46 {
    min-width: 460px;
    max-width: 460px;
}

.grid-col-47 {
    min-width: 470px;
    max-width: 470px;
}

.grid-col-48 {
    min-width: 480px;
    max-width: 480px;
}

.grid-col-49 {
    min-width: 490px;
    max-width: 490px;
}

.grid-col-50 {
    min-width: 500px;
    max-width: 500px;
}

.grid-col-51 {
    min-width: 510px;
    max-width: 510px;
}

.grid-col-52 {
    min-width: 520px;
    max-width: 520px;
}

.grid-col-53 {
    min-width: 530px;
    max-width: 530px;
}

.grid-col-54 {
    min-width: 540px;
    max-width: 540px;
}

.grid-col-55 {
    min-width: 550px;
    max-width: 550px;
}

.grid-col-56 {
    min-width: 560px;
    max-width: 560px;
}

.grid-col-57 {
    min-width: 570px;
    max-width: 570px;
}

.grid-col-58 {
    min-width: 580px;
    max-width: 580px;
}

.grid-col-59 {
    min-width: 590px;
    max-width: 590px;
}

.grid-col-60 {
    min-width: 600px;
    max-width: 600px;
}

.grid-col-61 {
    min-width: 610px;
    max-width: 610px;
}

.grid-col-62 {
    min-width: 620px;
    max-width: 620px;
}

.grid-col-63 {
    min-width: 630px;
    max-width: 630px;
}

.grid-col-64 {
    min-width: 640px;
    max-width: 640px;
}

.grid-col-65 {
    min-width: 650px;
    max-width: 650px;
}

.grid-col-66 {
    min-width: 660px;
    max-width: 660px;
}

.grid-col-67 {
    min-width: 670px;
    max-width: 670px;
}

.grid-col-68 {
    min-width: 680px;
    max-width: 680px;
}

.grid-col-69 {
    min-width: 690px;
    max-width: 690px;
}

.grid-col-70 {
    min-width: 700px;
    max-width: 700px;
}

.grid-col-71 {
    min-width: 710px;
    max-width: 710px;
}

.grid-col-72 {
    min-width: 720px;
    max-width: 720px;
}

.grid-col-73 {
    min-width: 730px;
    max-width: 730px;
}

.grid-col-74 {
    min-width: 740px;
    max-width: 740px;
}

.grid-col-75 {
    min-width: 750px;
    max-width: 750px;
}

.grid-col-76 {
    min-width: 760px;
    max-width: 760px;
}

.grid-col-77 {
    min-width: 770px;
    max-width: 770px;
}

.grid-col-78 {
    min-width: 780px;
    max-width: 780px;
}

.grid-col-79 {
    min-width: 790px;
    max-width: 790px;
}

.grid-col-80 {
    min-width: 800px;
    max-width: 800px;
}

.grid-col-81 {
    min-width: 810px;
    max-width: 810px;
}

.grid-col-82 {
    min-width: 820px;
    max-width: 820px;
}

.grid-col-83 {
    min-width: 830px;
    max-width: 830px;
}

.grid-col-84 {
    min-width: 840px;
    max-width: 840px;
}

.grid-col-85 {
    min-width: 850px;
    max-width: 850px;
}

.grid-col-86 {
    min-width: 860px;
    max-width: 860px;
}

.grid-col-87 {
    min-width: 870px;
    max-width: 870px;
}

.grid-col-88 {
    min-width: 880px;
    max-width: 880px;
}

.grid-col-88 {
    min-width: 880px;
    max-width: 880px;
}

.grid-col-89 {
    min-width: 890px;
    max-width: 890px;
}

.grid-col-90 {
    min-width: 900px;
    max-width: 900px;
}

.grid-col-91 {
    min-width: 910px;
    max-width: 910px;
}

.grid-col-92 {
    min-width: 920px;
    max-width: 920px;
}

.grid-col-93 {
    min-width: 930px;
    max-width: 930px;
}

.grid-col-94 {
    min-width: 940px;
    max-width: 940px;
}

.grid-col-95 {
    min-width: 950px;
    max-width: 950px;
}

.grid-col-96 {
    min-width: 960px;
    max-width: 960px;
}

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-content-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.justify-content-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.algin-item-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.algin-item-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.align-item-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-content-spacebetween {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.justify-content-spacearound {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.justify-content-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.width-100 {
    min-width: 100%;
}

.width-30 {
    min-width: 30%;
    max-width: 30%;
}

.center {
    margin: 0px auto;
}

.text-center {
    text-align: center;
}

.col-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.col-dont-break-inside {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
}

.block {
    display: block;
}


/*
  
   ___   ___   ___  
  / _ \ / _ \ / _ \ 
 | (_) | | | | | | |
  \__, | | | | | | |
    / /| |_| | |_| |
   /_/  \___/ \___/ 
                    
                    



*/

@media screen and (min-width: 0px) and (max-width: 1000px) {
    [class*='grid-'] {
        min-width: 100%;
        max-width: 100%;
        overflow: hidden;
        margin: 0px;
        display: block;
    }
    .col-3-gap-20 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-gap: 0px;
        column-gap: 0px;
    }
    .col-3 {
        -webkit-column-count: 1!Important;
        -moz-column-count: 1!Important;
        column-count: 1!Important;
        -webkit-column-width: 960px;
        -moz-column-width: 960px;
        column-width: 960px;
    }
}