/*GENERAL*/

:root {
    --color-one: rgb(26, 41, 102);
    --color-two: white;
    --color-three: white;
}

*,
*:before,
*:after {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0 !important;
}

*:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html,
body {
    font-weight: 100;
    position: relative;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0px;
    padding: 0px;
    font-size: 1.3rem;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

h1 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
    color: yellow;
}

h2 {
    font-size: 1;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

strong {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

video {
    max-width: 600px;
}

img {
    width: 100%;
    display: block;
}

p {
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

::selection {
    background: yellow;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: yellow;
    /* Gecko Browsers */
}

hr {
    height: 4px;
    background: white;
    margin: 0 0 1rem 0;
}

label {
    color: white;
}

input {
    padding: 5px;
    height: 28px;
    margin: 0 10px 0px 0;
    color: black!Important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px
}

input[type=submit] {
    background: yellow;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px
}

.debug {
    outline: 2px solid red;
}

th.sorted.ascending:after {
    content: "  \2191";
}

th.sorted.descending:after {
    content: " \2193";
}

div#toast {
    position: fixed;
    height: auto;
    overflow: none;
    top: -100px;
    right: 0px;
    background: rgb(15, 197, 167);
    color: black;
    z-index: 5000;
    padding: 5px;
}


/*//////////////////////////////////////////*/


/* W R A P P E R */

div#wrapper {
    position: relative;
    margin: 0px;
    padding: 20px 20px 20px 20px;
    margin: 80px 0 0 0;
}


/* L O G I N */

div.login div.inner {
    width: 100%;
    margin: 30vh 0 5px 0;
}

div.login div form input {
    width: 100%;
    margin: 0 0 5px 0;
    height: 30px;
}

div.login div form input[type=submit] {
    background: yellow;
    cursor: pointer;
}

div.login div#error-message {
    color: white;
    display: block;
    font-size: 0.8rem;
}


/* T O D O */

div.todo article {
    color: white;
    margin: 0 0 20px 0;
    padding: 5px;
    background: gray;
}

div.todo div div#top-bar {
    margin: 0 0 30px 0;
}

div.todo article div.timestamp {
    display: none;
}

div.todo article div.date {
    display: none;
}

div.todo article div.price {
    display: none;
}

div.todo article div.status {
    display: none;
}

div.todo article div.stops {
    display: none;
}

div.todo input {
    height: 45px;
}


/*
RECURRENCE
*/

div.recurrence table,
div.recurrence th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

div.recurrence td {
    border: 2px solid white;
    padding: 3px;
}

div.recurrence table,
div.recurrence tr,
div.recurrence td,
div.recurrence th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

div.recurrence th {
    background: white;
    color: black;
    font-size: 1.1rem;
}

div.recurrence table thead tr th span:nth-child(2) {
    height: 30px;
    background-image: url("../icon/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 3px;
}

div.recurrence table tr.disabled {
    opacity: 0.7;
}


/*
PREORDER
*/

div.preorder table,
div.preorder th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

div.preorder td {
    border: 2px solid white;
    padding: 3px;
}

div.preorder th {
    background: white;
    color: black;
    font-size: 1.1rem;
}

div.preorder {
    color: white;
}

div.preorder article div.date {
    margin: 0 0 10px 0;
}

div.preorder article div.orderby {
    margin: 10px 0 0px 0;
}

div.preorder article div.id {
    margin: 0px 0 0px 0;
    text-decoration: underline;
    cursor: pointer;
}

div.preorder article div.id:hover {
    text-decoration: none;
    font-weight: 900;
}

div.preorder article div span {
    margin: 0px 5px 0px 0;
    font-weight: 900;
}


/*
Stats
*/

div.stats table#products {
    visibility: hidden;
}

div.stats article {
    background: dimgray;
    color: white;
    font-size: 1rem;
}

div.stats article#day-stats {
    min-width: 30%;
    max-width: 40%;
    margin: 0px 20px 10px 0;
}

div.stats article#month-stats {
    min-width: 30%;
    max-width: 40%;
    margin: 0px 20px 10px 0;
}

div.stats article#months span {
    margin: 0 20px 0 0;
    min-width: 120px!Important;
    display: inline-block;
}

div.stats article#recurrences-stats {
    min-width: 40%;
    max-width: 50%;
    margin: 0px 20px 10px 0;
    display: none;
}

div.stats table#recurrences-stats {
    position: absolute;
    opacity: 0;
}

div.stats article#products-stats {
    min-width: 40%;
    max-width: 60%;
    height: auto;
    margin: 0px 20px 10px 0;
}

div.stats article#month table th {
    color: yellow;
}

div.stats article#month table {
    border-collapse: collapse;
    width: 200px;
}

div.stats article#month table td {
    padding: 5px;
    width: 40px;
}

div.stats table#days td {
    border: 2px solid white;
    display: none;
}

div.tats table#days tr.last {
    background: yellow;
}

div#info-box {
    margin: 0 10px 0 0;
}

div#info-box article {
    margin: 0 0px 10px 0;
    padding: 10px;
}


/*
Customers
*/

div.customers div#top-bar {
    margin: 0 0 50px 0;
}

div.customers table,
div.customerstr,
div.customers td,
div.customers th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

div.customers table thead tr th span:nth-child(2) {
    height: 30px;
    background-image: url("../icon/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 3px;
}

div.customers th {
    font-size: 0.8rem;
    cursor: pointer;
    min-width: 80px;
    background: white;
    color: black;
}

div.customers td {
    padding: 3px;
}

div.customers div#download {
    cursor: pointer;
    height: 28px;
}

div.customers div#download:hover img {
    opacity: 0.8;
}


/*
MISSIONS
*/

div.missions div#top-bar {
    margin: 0 0 50px 0;
}

div.missions div#top-bar div {
    margin: 0 0 20px 0;
}

div.missions table td {
    border: 2px solid white;
    font-size: 0.9rem;
}

div.missions table {
    border-collapse: collapse;
}

table#missions th,
table#missions td {
    min-width: 120px;
    padding: 2px;
}

div.missions table thead tr th span:nth-child(2) {
    height: 30px;
    background-image: url("../icon/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 3px;
}

div.missions table th {
    border: 2px solid white;
    font-size: 0.9rem;
    cursor: pointer;
    background: white;
    color: black;
}

div.missions table tr:hover {
    background: white;
    color: black;
}


/*
//autocomplete
*/

#customer-ac-container {
    margin: 30px 0 0 20px;
}

#mate-ac-container {
    top: 30px;
}

#meta-status-ac-container {
    top: 30px;
}

#status-ac-container {
    top: 30px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    color: black;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
    color: black;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: red;
}

.autocomplete-group {
    padding: 2px 5px;
    color: black;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

footer {
    position: fixed;
    bottom: 0px;
    color: yellow;
    height: 15px;
    font-size: 0.6rem;
    padding: 2px;
}

footer div div:first-child {
    margin: 0 15px 0 0;
}


/*NAVIGATION*/

nav {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 0px;
    height: 40px;
    z-index: 4000;
}

div#logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 60px;
    display: none;
}

div#logo img {
    width: 50px;
}

nav ul {
    margin: 200px 0 20px 0;
}

nav ul li {
    margin: 0 0 20px 0;
}

nav ul li a {
    color: white;
    font-size: 2rem;
}

nav ul li a:hover {
    color: yellow;
}

nav ul li a.active {
    color: yellow;
}

nav input[type="checkbox"] {
    display: none!Important;
}

div#navigation-content {
    background: black;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 100;
    display: none;
}

nav div.inner {
    position: relative;
}

nav div#menu-button div#open-button {
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    width: 50px;
    height: 40px;
}

nav div#menu-button div#open-button div {
    min-width: 50px;
    height: 7px;
    background: white;
    margin: 9px 0 0 0;
}

nav div#menu-button div#open-button:hover {
    border-top: 7px solid blue;
    border-bottom: 7px solid blue;
    width: 50px;
    height: 40px;
    background: white;
}

nav div#menu-button div#open-button:hover div {
    background: blue;
}


/*WHEN CLICKED*/

#desktop-icon:checked~label div#menu-button div#open-button {
    display: none;
}

#desktop-icon:checked~label+div#navigation-content {
    overflow: auto;
    top: 0px;
    left: 0px;
    display: block;
}

#desktop-icon:checked~label+div#navigation-content div#logo {
    display: block;
}


/*
  
   ___   ___   ___  
  / _ \ / _ \ / _ \ 
 | (_) | | | | | | |
  \__, | | | | | | |
    / /| |_| | |_| |
   /_/  \___/ \___/ 
                    
                    



*/

@media screen and (min-width: 0px) and (max-width: 1000px) {
    html,
    body {
        font-size: 1.5rem;
        width: 100vw;
    }
    /* L O G I N */
    div.login div.inner {
        width: 100%;
        margin: 30vh 0 5px 0;
    }
    div.login div form {
        text-align: center;
    }
    div.login div form input {
        width: 80%;
        margin: 0 0 15px 0;
        height: 80px;
        font-size: 2rem;
    }
    div.login div form input[type=submit] {
        background: yellow;
        cursor: pointer;
    }
    div.login div#error-message {
        color: white;
        display: block;
        font-size: 1.8rem;
        text-align: center;
    }
    div.login div#wrapper div.inner {
        width: 100%;
        margin: 30vh 0 5px 0;
    }
    div#wrapper {
        margin: 80px 0 0 0;
    }
    body#todo input {
        height: 80px;
        font-size: 2rem;
    }
    nav div#menu-button div#open-button {
        border-top: 12px solid white;
        border-bottom: 12px solid white;
        width: 80px;
        height: 60px;
    }
    nav div#menu-button div#open-button div {
        min-width: 80px;
        height: 12px;
        background: white;
        margin: 12px 0 0 0;
    }
    div#logo {
        position: fixed;
        top: 50px;
        left: 50px;
        width: 60px;
        display: none;
    }
    div#logo img {
        width: 80px;
    }
    nav div.inner ul {
        margin: 30% 0 0 0px;
    }
    nav ul li {
        margin: 0 0 20px 50px;
    }
    nav ul li a {
        color: white;
        font-size: 3rem;
    }
}